# Bibliotecas R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Cache
.cache/
__pycache__/

# Arquivos do sistema
.DS_Store
Thumbs.db
.Rproj.user

# Dados brutos muito grandes (opcional)
data/raw/*
!data/raw/.gitkeep
